@tailwind base;
@tailwind components;
@tailwind utilities;

/* Masonry Layout Styles */
.masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}

.masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.masonry-grid_column > div {
  margin-bottom: 16px;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}